# Auto detect text files and perform LF normalization
* text=auto
similarity.pkl filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.idea,app.py,movie_dict.pkl,venv filter=lfs diff=lfs merge=lfs -text
